{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowRootandHomeListingOfS3Bucket",
            "Effect": "Allow", 
            "Principal": {
                "AWS": ${key_users}
            },
            "Action": [
                "lambda:GetAccountSettings",
                "lambda:ListFunctions",
                "lambda:ListTags",
                "lambda:GetEventSourceMapping",
                "lambda:ListEventSourceMappings",
                "iam:ListRoles"
            ],
            "Resource": "*"
        },
        {
            "Sid": "DevelopFunctions",
            "Effect": "Allow", 
            "NotAction": [
                "lambda:AddPermission",
                "lambda:PutFunctionConcurrency"
            ],
            "Resource": ${bucket_resources}
        },
        {
            "Sid": "DevelopEventSourceMappings",
            "Effect": "Allow", 
            "Action": [
                "lambda:DeleteEventSourceMapping",
                "lambda:UpdateEventSourceMapping",
                "lambda:CreateEventSourceMapping"
            ],
            "Resource": ${bucket_resources}
        },
            "Condition": {
                "StringLike": {
                    "lambda:FunctionArn": ${iam_role_arn}
                }
            }
        },
        {
            "Sid": "PassExecutionRole",
            "Effect": "Allow", 
            "Action": [
                "iam:ListRolePolicies",
                "iam:ListAttachedRolePolicies",
                "iam:GetRole",
                "iam:PassRole"
            ],
            "Resource": ${bucket_resources}
        },
        {
            "Sid": "ViewExecutionRolePolicies",
            "Effect": "Allow", 
            "Action": [
                "iam:GetPolicy",
                "iam:GetPolicyVersion"
            ],
            "Resource": "arn:aws:iam::aws:policy/*"
        },
        {
            "Sid": "ViewLogs",
            "Effect": "Allow", 
            "Action": [
                "logs:*"
            ],
            "Resource": ${bucket_resources}
        },
    ]
}